<div class="d-none">
    <%- include('../partials/sitemaster'); %> 
    <%- include('../partials/memory'); %>
</div>

<section id="puzzle">   

    <div class="container d-block d-sm-flex justify-content-center align-items-center text-center">
        <div id="timer" class="fs-2 shadow-sm bg-white rounded p-sm-5 ps-0">30s</div>
    <div class="puzzle">

        <div class="row d-block">
            <div class="box-holder d-flex justify-content-around align-items-center">
                <div class="box shadow-sm bg-white rounded d-flex justify-content-around align-items-center">
                    
                </div>
                <div class="box-image shadow-sm bg-white rounded img-fluid">
                </div>
            </div>

            <div class="box-holder d-flex justify-content-around align-items-center">
                <div class="box shadow-sm bg-white rounded d-flex justify-content-around align-items-center">
                    
                </div>
                <div class="box-image shadow-sm bg-white rounded img-fluid">
                </div>
            </div>

            <div class="box-holder d-flex justify-content-around align-items-center">
                <div class="box shadow-sm bg-white rounded d-flex justify-content-around align-items-center">
                    
                </div>
                <div class="box-image shadow-sm bg-white rounded img-fluid">
                </div>
            </div>

            <div class="box-holder d-flex justify-content-around align-items-center">
                <div class="box shadow-sm bg-white rounded d-flex justify-content-around align-items-center">
                    
                </div>
                <div class="box-image shadow-sm bg-white rounded">
                </div>
            </div>

            <div class="box-holder d-flex justify-content-around align-items-center">
                <div class="box shadow-sm bg-white rounded d-flex justify-content-around align-items-center">
                    
                </div>
                <div class="box-image shadow-sm bg-white rounded img-fluid">
                </div>
            </div>
            
            <div class=" position-absolute toast toast-success align-items-center text-white bg-success top-0 start-0 m-2" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                    Well done !
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>

            <div class="position-absolute toast toast-fail align-items-center text-white bg-danger top-0 start-0 m-2" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                    Try again.
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>

    </div>

    <script src="../../public/js/puzzle/match-picture.js"></script>
    <script src="../../public/js/puzzle/build-content.js"></script>
    <script src="../../public/js/puzzle/show-time.js"></script>
    <script>GetContent();</script>

</section>


