<div class="d-none">
    <%- include('../partials/sitemaster'); %> 
    <%- include('../partials/memory'); %>
</div>

<section id="puzzle">   

    <div class="container d-flex justify-content-center align-items-center mt-5 text-center">
        
    <div class="puzzle">
        <div class="row">
            <div class="box-holder d-flex justify-content-around align-items-center">
                <div class="box shadow-sm bg-white rounded d-flex justify-content-around align-items-center">
                    This picture was drawn in the year 1503
                </div>
                <div class="box-image shadow-sm bg-white rounded" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/1200px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg'); background-size: 100%;">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box-holder d-flex justify-content-around align-items-center">
                <div class="box shadow-sm bg-white rounded d-flex justify-content-around align-items-center">
                    This picture was drawn in the year 1503
                </div>
                <div class="box-image shadow-sm bg-white rounded" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/1200px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg'); background-size: 100%;">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="box-holder d-flex justify-content-around align-items-center">
                <div class="box shadow-sm bg-white rounded d-flex justify-content-around align-items-center">
                    This picture was drawn in the year 1503
                </div>
                <div class="box-image shadow-sm bg-white rounded" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/1200px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg'); background-size: 100%;">
                </div>
            </div>
        </div>

    </div>

        

    </div>

    <script src="../../public/js/show-cards.js"></script>
    <script src="../../public/js/shuffle-cards.js"></script>
    <script src="../../public/js/show-time.js"></script>

</section>