<%- include('partials/sitemaster'); %>

<style>
  ::-webkit-scrollbar {
    display: none;
  }
</style>

<section id="register">
  <div class="container container-fluid d-flex justify-content-center align-items-center">
    <div class="row text-center">
      <div class="col-lg-12 d-flex justify-content-center align-items-center">

        <div class="card mt-5 w-100">
          <img class="card-img-top image-fluid" src="../public/vectors/preview_memory.png">
          <div class="card-body">
            <h4 class="card-title">Memory</h4>
            <p class="card-text">Try to remember every card you turn, match them and win the game !</p>
            <a href="/memory" class="btn btn-primary">Play</a>
          </div>
        </div>

      </div>

      <div class="col-lg-12 d-flex justify-content-center align-items-center">

        <div class="card mt-5 mb-5 w-100">
          <img class="card-img-top image-fluid" src="../public/vectors/guessthenumber_preview.png">
          <div class="card-body">
            <h4 class="card-title">Guess the number</h4>
            <p class="card-text">Try to beat other players' records and dominate the leaderboards !</p>
            <a href="/settings" class="btn btn-primary">Play</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>