<%- include('partials/sitemaster'); %>

<section id="register">
  <div class="container container-fluid d-flex justify-content-center align-items-center">
    <div class="row text-center">

      <div class="col-lg-12 d-flex justify-content-center align-items-center">

        <div class="card mt-5 w-75 shadow border-0">
          <img class="card-img-top image-fluid" src="../public/vectors/preview_memory.png">
          <div class="card-body">
            <h4 class="card-title">Memory</h4>
            <p class="card-text">Try to remember every card you turn, match them and win the game !</p>
            <a href="/memory" class="btn btn-primary">Play</a>
          </div>
        </div>

      </div>

      <div class="col-lg-12 d-flex justify-content-center align-items-center">

        <div class="card mt-5 mb-5 w-75 shadow border-0">
          <img class="card-img-top image-fluid" src="../public/vectors/guessthenumber_preview.png">
          <div class="card-body">
            <h4 class="card-title">Guess the number</h4>
            <p class="card-text">Try to beat other players' records and dominate the leaderboards !</p>
            <a href="/settings" class="btn btn-primary">Play</a>
          </div>
        </div>

      </div>

      <div class="col-lg-12 d-flex justify-content-center align-items-center">

        <div class="card mb-5 w-75 shadow border-0">
          <img class="card-img-top image-fluid" src="https://i.gyazo.com/26efca8f29eec0fb1f132ffba6a3b8ff.png">
          <div class="card-body">
            <h4 class="card-title">Picture Puzzle</h4>
            <p class="card-text">Connect all sentences with the correct Image, before time runs out !</p>
            <a href="/puzzle" class="btn btn-primary">Play</a>
          </div>
        </div>
    </div>
  </div>

</section>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>