<%- include('sitemaster'); %>

<section id="guess">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="row text-center">

        <div class="col-lg-12">
          <h1>Guess the number!</h1>
          <p> Guess a number between  <%- req.session.firstname %> and <%- req.session.firstname %> </p>
        </div>
        
    </div>
</section>