<%- include('sitemaster'); %>

<section id="leaderboard" class="text-center">
  <script src="../public/js/get-players.js"></script>
  <h1 class="mt-sm-5">Guess the number</h1>
  <div class="container d-flex justify-content-center align-items-center mt-sm-5 text-center">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">place</th>
          <th scope="col">player</th>
          <th scope="col">range</th>
          <th scope="col">max seconds</th>
          <th scope="col">max tries</th>
          <th scope="col">num guesses</th>
          <th scope="col">time</th>
          <th scope="col">secret number</th>
          <th scope="col">cheated</th>
          <th scope="col">play date</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</section>