<div class="d-none">
  <%- include('partials/sitemaster'); %>
  <%- include('partials/memory'); %>
</div>
<link rel="stylesheet" href="../public/css/leaderboards.css">

<section id="settings">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row col-sm-8">
      <div class="col-12 mt-5">

        <div class="mx-sm-5 p-sm-4">
          <div class="holder show">
              <div class="card card-front me-5 card-diamonds-a card-1"></div>
              <div class="card card-front me-3 ms-2 card-diamonds-q card-2"></div>
              <div class="card card-front ms-5 card-diamonds-k card-3"></div>
              <div class="card card-back"></div>
          </div>
      </div>
        
      </div>
    </div>
</section>