<div class="d-none">
  <%- include('partials/sitemaster'); %>
  <link rel="stylesheet" href="../public/css/leaderboards.css">
</div>

<section id="settings">

  <div class="container mt-sm-5">
    <div class="row col-sm-12 mt-5">
      <div class="col-12 mt-5 text-center">
        <h1 class="text-black">Leaderboards</h1>

        <div class="d-block d-md-flex justify-content-around mt-sm-5 align-items-center flex-column">





          <div class="memory text-center ms-5">
            <div class="card mt-5 top te">
              <img class="card-img-top image-fluid preview d-none d-lg-flex" src="../public/vectors/preview_memory.png">
              <div class="card-body text-white">
                <h4 class="card-title">Memory</h4>
                <a href="/memory/leaderboard" class="btn btn-primary">Go</a>
              </div>
            </div>
          
          </div>


          <div class="guess ms-5 text-center">
            

            <div class="card mt-5 top">
              <img class="card-img-top image-fluid preview d-none d-lg-flex" src="../public/vectors/guessthenumber_preview.png" >
              <div class="card-body text-white">
                <h4 class="card-title">Guess the number</h4>
                <a href="/guess/leaderboard" class="btn btn-primary">Go</a>
              </div>
            </div>

          </div>

        </div>

          

      </div>
    </div>
</section>