<div class="d-none"><%- include('sitemaster'); %>   </div>


<section id="memory">

    <!-- css for this page only -->
    <link href="../public/css/cards.css" rel="stylesheet" type="text/css">

    <div class="container d-flex justify-content-center align-items-center  ">
        <div class="board">
            <div class="row mb-5">
                <div class="col-lg-12 d-flex justify-content-center mb-5">
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>

                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-lg-12 d-flex justify-content-center mt-5 mb-5">
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>

                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12 d-flex justify-content-center mt-5">
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>

                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/js/show-cards.js"></script>
    <script src="../public/js/shuffle-cards.js"></script>

</section>