<div class="d-none"><%- include('sitemaster'); %> </div>
<link href="../public/css/cards.css" rel="stylesheet" type="text/css">

<section id="memory">
    <!-- css for this page only -->
    <div class="container d-flex justify-content-center align-items-center mx-5">
        <!-- <div class="d-flex flex-column">
            <div class="countdown text-center">
                <span id="time" class="time fs-1">00:00.00</span>
              </div>
              <div class="btn-wrap">
                <button id="start" class="btn btn-danger">Start</button>
                <button id="stop"  class="btn btn-danger">Stop</button>
                <button id="reset" class="btn btn-danger">Reset</button>
              </div>
        </div> -->
        <div class="board text-center">
            <div class="row mb-5">
                <div class="col-lg-12 d-flex justify-content-center mb-5">
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>

                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-lg-12 d-flex justify-content-center mt-5 mb-5">
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>

                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12 d-flex justify-content-center mt-5">
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>

                    <div class="mx-sm-5 p-sm-4">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <script src="../public/js/show-cards.js"></script>
    <script src="../public/js/shuffle-cards.js"></script>

</section>