.preview {
    width: 600px;
    height: 170px;
}

.top {
    background-image: url('https://kagrier.files.wordpress.com/2016/04/battle-ground-rough.png'); 
    background-size: cover;
    background-size: 60%;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 73%!important;
}
