body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(247, 250, 255);
}
    
.preview {
    width: 680px;
    height: 170px;
}

/* datatable which can not be accessed needs to be manipulated by !Important */
div.dataTables_wrapper div.dataTables_filter input {
    width: 70%!important;
}

.dataTables_length 
{
    margin-right: 100%;
}

@media only screen and (max-width: 1000px){

    div.dataTables_wrapper {
        width: 280px;
    }
    
    #example_filter, #example_length {
        display: none;
    }

    .preview {
        width: 340px;
        height: 170px;
    }
}