@import url('https://fonts.cdnfonts.com/css/silkscreen');
@import url('https://fonts.cdnfonts.com/css/spacetype');
@import url('https://fonts.googleapis.com/css?family=Poppins');



::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;

    /* font */
    font-family: 'SpaceType', sans-serif;
    color: white;

    /* background */
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/044/942/915/large/alexander-nedviga-40-black-wood-background-textures-8.jpg?1641542213');
    background-repeat: no-repeat;
    background-size: 100%;

}

img {
    width: 150px;
}

.blue-side, .red-side {
    margin-left: 10%;
}

#exampleModal {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.game-info {
    height: 60px;
}

.extra-data {
    display: flex;
}

.timer-display {
    width: 360px;
}

@keyframes drop {
    70%{transform: translateY(700px)}
    100%{transform: translateY(650px)}
}

@media only screen and (max-width: 1000px){

    /* bootstrap way -> d-none d-sm-inline/flex */
    .blue-side, .red-side, .clicks, .time, .extra-data {
        display: none;
    }

    
    .timer-display {
        width: 250px;
        position: absolute;
    }   

    .fall 
    {
        opacity: 0;
    }

    .container {
        width: 100%;
        padding: 0;
        margin: 0!important;
        position: relative;
    }   

    .card.card-front, .holder {  
        position: relative;
    }

    body {
        background-repeat: repeat;
    }

    .card, .holder {
        width: 81px;
        height: 117px;
    }

    /* For playability enable this piece of code but looks   :( */
    /* And disable the extra cards no display */

    /* .extra-cards {
        display: none;
    } */

    .extra-cards {
        display: flex;
    }

    .card, .holder {
        width: 57px;
        height: 87px;
    }
}
