@import url('https://fonts.cdnfonts.com/css/silkscreen');
@import url('https://fonts.cdnfonts.com/css/spacetype');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    overflow: hidden;

    /* font */
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);

    /* background */
    background-repeat: repeat;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/567/632/original/abstract-geometric-background-with-minimal-shape-gradient-and-memphis-style-suitable-for-various-background-design-template-banner-poster-presentation-etc-vector.jpg ');
    background-size: 100%;

    background-color: rgb(247, 250, 255);

}


img {
    width: 150px;
}

.box {
    width: 400px;
    height: 100px;
}

.box-image {
    background-size: 100%;
    width: 200px;
    height: 120px;
}

.box-holder
{
    margin-top: 2%;
    width: 1000px;
}

.box:hover, .box-image:hover {  
    transform: scale(1.05);
    box-shadow: 0 10px 20px 20px rgba(0,0,0,.06);
}

.game-info {
    height: 60px;
}

.extra-data {
    display: flex;
}

.timer-display {
    width: 360px;
}

#exampleModal {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.wait-turn {
    pointer-events: none;
}

.shake 
{
    animation: shake 0.5s ease infinite;
}

.fall 
{
    animation: drop 3s ease forwards;
}

@keyframes drop {
    70%{transform: translateY(700px)}
    100%{transform: translateY(650px)}
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }

@media only screen and (max-width: 1000px){
    
    /* bootstrap way -> d-none d-sm-inline/flex */
    .blue-side, .red-side, .clicks, .time, .extra-data {
        display: none;
    }

    .box, .box-image
    {
        width: 150px;
        height: 150px;
    }

    .box-image
    {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
    }
    
    .timer-display {
        width: 250px;
        position: absolute;
    }   

    .fall 
    {
        opacity: 0;
    }

    .box-holder
    {
        margin-top: 2%;
        padding: 0;
        width: 100%;
    }

    .container {
        width: 100%;
        padding: 0;
        margin: 0!important;
        position: relative;
    }   

    .card.card-front, .holder {  
        position: relative;
    }

    .card, .holder {
        width: 81px;
        height: 117px;
    }

    .extra-cards {
        display: flex;
    }

    .card, .holder {
        width: 57px;
        height: 87px;
    }

    body 
    {
        background-image: none;
    }
}
