<div class="d-none">
    <%- include('../partials/sitemaster'); %>
    <link rel="stylesheet" href="../public/css/memory.css">
    <link rel="stylesheet" href="../../public/css/leaderboards.css">
</div>

<section id="memory-board" >
    <div class="container d-flex justify-content-center align-items-center">
        <div class="d-block">
            <div class="row d-none d-sm-block">
                <div class="col-12">
                    <div class="board bg-white text-black p-3 d-flex justify-content-between rounded border border-black border-4 mt-5">
                        <h3 class="mt-sm-2 fw-bold me-sm-5">LEADERBOARD</h3>
                        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b2989eac-7897-4fd2-947a-87413091121b/d9cl79t-7f7d23ad-cb08-44c8-99a4-fd6ba60265b2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IyOTg5ZWFjLTc4OTctNGZkMi05NDdhLTg3NDEzMDkxMTIxYlwvZDljbDc5dC03ZjdkMjNhZC1jYjA4LTQ0YzgtOTlhNC1mZDZiYTYwMjY1YjIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gvaNXESe8FbhOmHWp35qOrFynHhVNJnlSeywGnk_s04" alt="">
                    </div>  
                </div>
            </div>

            <h3 class="mt-2 fw-bold text-center d-block d-sm-none">LEADERBOARD</h3>
    
            <div class="row">
                
                <div class="col-12">
                    <div class="board bg-white text-black p-3 rounded border border-black border-4 mt-5 text-center table-responsive">


                        <table class="table table-sm d-none" id="example">
                            <thead>
                              <tr>
                                <th class="px-4">#</th>
                                <th class="px-4">Name</th>
                                <th class="px-4">Time</th>
                                <th class="px-4">Clicks</th>
                              </tr>
                            </thead>
                            <tbody>
                                <!-- Data will be loaded here -->
                            </tbody>
                        </table>

                        <div class="table-toggle fs-1 p-5" onclick="this.classList.add('d-none'); document.getElementById('example').classList.remove('d-none');;">
                            <u>Show</u>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    
    </div>

  <!-- datatables -->

  <!-- load players into table -->
  <script src="../../public/js/get-players.js"></script>
  <script>GetLeaderboardMemory()</script>

   <!-- create datatable -->
  <%- include('../partials/datatables'); %>

</section>