<div class="d-none">
    <%- include('../partials/sitemaster'); %> 
    <%- include('../partials/memory'); %>
</div>

<section id="memory">   

     <div class="game-info d-flex justify-content-around mt-5 mt-sm-0">
        <div class="fs-1 text-center extra-data">
            Clicks: <p class="text-success ms-2 clicks">0</p>
        </div>
        <div class="timer-display fs-1 text-center me-sm-5">
                00 : 00 : 00
        </div>

        <button class="btn d-sm-none position-absolute mt-5 mt-sm-0 w-25 btn-sm btn-danger text-white">Give up</button>
        
        <div class="fs-1 text-center extra-data">
            Score: <p class="text-success ms-2 score">0</p>
        </div>
     </div>

    <div class="container d-flex justify-content-center align-items-center ms-5">
        <div class="red-side fs-3 text-center">
            <label for="red"> Player 1 </label>
            <img src="../../public/vectors/King_Knight.png">
            <button class="btn mt-2 btn-sm btn-danger text-white">Give up</button>
        </div>  
        <div class="board text-center mt-5 mt-sm-0">
            <div class="row mb-sm-0">
                <div class="col-lg-12 d-flex justify-content-center mb-sm-5">
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 extra-cards">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>

                    <div class="mx-sm-5 p-sm-4 extra-cards">

                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row mt-sm-5 mb-sm-5">
                <div class="col-lg-12 d-flex justify-content-center mt-sm-5 mb-sm-5">
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 extra-cards">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>

                    <div class="mx-sm-5 p-sm-4 extra-cards">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-sm-5">
                <div class="col-lg-12 d-flex justify-content-center mt-sm-5">
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 ">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
    
                    <div class="mx-sm-5 p-sm-4 extra-cards">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>

                    <div class="mx-sm-5 p-sm-4 extra-cards">
                        <div class="holder">
                            <div class="card card-front"></div>
                            <div class="card card-back"></div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="blue-side fs-3 text-center">
            <label for="blue"> Player 2 </label>
            <img src="../../public/vectors/Shovel_Knight.png">
            <button class="btn mt-2 btn-sm btn-danger text-white">Give up</button>
        </div>
        
    </div>

    <script src="../../public/js/show-cards.js"></script>
    <script src="../../public/js/shuffle-cards.js"></script>
    <script src="../../public/js/show-time.js"></script>

</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <form action="/memory" method="post">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="exampleModalLabel">You paired all the cards !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black">
                <labek class="form-label">Username</label>
                <input type="text" class="form-control mb-3 mt-3" name="username" max="12" placeholder="Username...">
                <labek class="form-label">Time</label>
                <input type="text" class="form-control mb-3 mt-3" name="time" id="time" name="time" readonly>
                <labek class="form-label">Clicks</label>
                <input type="number" class="form-control mb-3 mt-3" name="clicks" id="clicks" name="clicks" readonly>
                <labek class="form-label">Score</label>
                <input type="number" class="form-control mb-3 mt-3" name="score" id="score" name="score" readonly>
            </div>
            <div class="modal-footer pb-0">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
    </div>
</div>